$brand-color:         #3b1e4a;
$highlight:           lighten($brand-color, 35%);
$text-color:          #d4af37;
$muted-text-color:    #f6e27f;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
